:root {
  --currentGlobalColor: #003DA2;
  --currentProjectColor: hsla(227, 10%, 28%, 0.4);
  --text-base-size: 1rem;
  --space-unit: 1rem;
  --space-xxs: calc(0.25 * var(--space-unit)); // 4px
  --space-xs: calc(0.5 * var(--space-unit)); // 8px
  --space-sm: calc(0.75 * var(--space-unit)); // 12px
  --space-md: calc(1.25 * var(--space-unit)); // 20px
  --space-mdx: calc(1.50 * var(--space-unit)); //24px
  --space-lg: calc(2 * var(--space-unit)); // 32px
  --space-xl: calc(3.25 * var(--space-unit)); // 52px
  --space-xxl: calc(5.25 * var(--space-unit)); // 84px
}

$j-bold: 'JuanaBold';
$g-regular: 'Graphik400Regular';
$g-medium: 'Graphik500Medium';
$g-semibold: 'Graphik600Semibold';

$base-radius: 4px;

$header-padding: 16px 32px;
$header-size: 58px;
$header-mobile-size: 65px;

$column-gap: 8px;

$black: hsl(0, 0%, 0%);
$black-01: hsla(0, 0%, 100%, 0.1);
$black-90: hsla(0, 0%, 0%, 0.9);
$white: hsl(0, 0%, 100%);
$white-90: hsla(0, 0%, 100%, 0.9);
$yellow: hsl(41, 100%, 59%);
$background-grid: hsla(227, 10%, 28%, 0.4);
$red: hsl(356, 75%, 31%);
$dark-blue: hsl(207, 51%, 20%);
$white-red: hsl(358, 36%, 72%);


// .project-selector__color--red { background-color: hsl(356, 75%, 31%) }
// .project-selector__color--blue { background-color: hsl(207, 51%, 20%) }
// .project-selector__color--yellow { background-color: hsl(49, 96%, 43%) }
// .project-selector__color--white-red { background-color: hsl(358, 36%, 72%) }