.project-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-dot__container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: var(--space-xs);

  .project-dot__container:first-child {
    margin-left: 0;
  }
}

.project-dot__number {
  font-family: $g-semibold;
  font-size: var(--space-sm);
}

.project-dot--selected {
  display: block;
  width: 24px;
  height: 8px;
  background-color: $black;
  border-radius: 25%;
  margin-left: var(--space-xs);
}

.project-dot {
  display: block;
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: $black;
  opacity: .25;
  border-radius: 50%;
}