.navigation-header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: $column-gap;
  grid-row-gap: 0px;

  @include mq($until: 'tablet') {
    grid-template-columns: $header-mobile-size 1fr;
    padding: var(--space-xs);
    background-color: $black;
  }
}

.navigation-header__background {
  position: relative;
  background-color: var(--currentGlobalColor);
  border-radius: $base-radius;
  transition: all .2s ease;

  &:before {
    content: '';
    position: absolute;
    background-color: hsl(0, 0%, 100%, 75%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: $base-radius;
  }
}

.navigation-header-middle__route-name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;

  font-family: $j-bold;
  font-size: var(--space-mdx); // 24px
  line-height: var(--space-mdx); // 24px
}

.navigation-header-middle__background {
  position: relative;
  background-color: var(--currentGlobalColor);
  border-radius: $base-radius;
  transition: all .2s ease;

  &--opacity {
    position: absolute;
    z-index: 1;
    background-color: hsl(0, 0%, 100%, 75%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: $base-radius;
  }
}


.navigation-header__logo {
  padding: $header-padding;
  margin: 0;

  @include mq($until: 'tablet') {
    display: flex;
    align-items: center;
    padding: var(--space-xs);
  }

  &:before {
    background-color: hsl(0, 0%, 90%);
  }
}

.navigation-header__burger {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: var(--space-sm);

  &:before {
    background-color: hsl(0, 0%, 90%);
  }
}