/**
 * Base files available globally
 */
@import 'helpers';
@import 'basics';


html, body, #__nuxt, #__layout{
  height: 100%;
}

body {
  font-size: var(--text-base-size); // 16px
  line-height: var(--space-mdx); // 24px
}

.main-layout {
  min-height: 100%;
}