.projects__container {
  display: grid;
  grid-template-columns: 150px 1fr 20%;
  grid-template-rows: 1fr 90%;
  grid-column-gap: $column-gap;
  grid-row-gap: $column-gap;

  @include mq($from: 'wide') {
    grid-template-rows: 1fr 80%;
  }

  @include mq($until: 'mobile-lg') {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 0;
  }

  .projects__grid-part {
    background-color: $black;
    outline-style: solid;
    outline-color: $black;
    outline-width: $column-gap;
    border-radius: $base-radius;
  }
}

.projects__grid-project-box {
  @include mq($from: 'wide') {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
  }
}

.projects__container .projects__grid-part-1 {
  background-color: $white-90;

  @include mq($until: 'mobile-lg') {
    overflow: hidden;
  }
}

.projects__container .projects__grid-part-2,
.projects__container .projects__grid-part-3,
.projects__container .projects__grid-part-4 {
  background-color: $background-grid;

  @include mq($until: 'mobile-lg') {
    display: none;
  }
}

.projects__grid-part-1 { grid-area: 2 / 1 / 3 / 4; } // Project Box
.projects__grid-part-2 { grid-area: 1 / 1 / 2 / 2; } // Background
.projects__grid-part-3 { grid-area: 1 / 2 / 2 / 3; } // Background
.projects__grid-part-4 { grid-area: 1 / 3 / 2 / 4; } // Background