.default-layout {
  position: relative;
  background-color: $black;
  padding: var(--space-sm);
  height: 100%;

  @include mq($until: 'tablet') {
    padding: 0;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('@/assets/images/Noise-big-720.png');
    mix-blend-mode: hard-light;
    opacity: 0.35;
    z-index: -1;
  }
}

.default-layout__main-container {
  display: grid;

  @include mq($until: 'mobile-lg') {
    order: 2;
  }
}

.default-layout__container {
  display: grid;
  min-height: calc(100% - (#{$header-size} + var(--space-sm)));
  margin-top: var(--space-sm);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: $column-gap;
  grid-row-gap: $column-gap;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--currentGlobalColor);

  @include mq($until: 'mobile-lg') {
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}

.default-layout__footer-mobile {
  order: 3;
}

.default-layout__aside {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 8%;
  grid-column-gap: $column-gap;
  grid-row-gap: $column-gap;

  @include mq($until: 'mobile-lg') {
    display: none;
  }

  .default-layout__aside-box {
    background-color: $black;
    outline-style: solid;
    outline-color: $black;
    outline-width: $column-gap;
    border-radius: $base-radius;
  }
}

.default-layout__aside .default-layout__aside-part-1,
.default-layout__aside .default-layout__aside-part-2,
.default-layout__aside .default-layout__aside-part-3,
.default-layout__aside .default-layout__aside-part-4,
.default-layout__aside .default-layout__aside-part-5 {
  background-color: transparent;
  transition: background-color 300ms linear;
}

.default-layout__aside-part-1 { grid-area: 1 / 2 / 4 / 3; } // Background
.default-layout__aside-part-2 { grid-area: 4 / 1 / 5 / 3; } // Background
.default-layout__aside-part-3 { grid-area: 3 / 1 / 4 / 2; } // Background
.default-layout__aside-part-4 { grid-area: 2 / 1 / 3 / 2; } // Background
.default-layout__aside-part-5 { grid-area: 1 / 1 / 2 / 2; } // Background
.default-layout__aside-part-6 { grid-area: 5 / 1 / 6 / 3; } // Footer
