.custom-button {
  display: flex;
  border: 0;
  padding: 0;
  cursor: pointer;
  background: none;

  &:hover {
    border: 0;
    background: none;
  }
}

.custom-button__text {
  font-family: $g-semibold;
  margin-left: var(--space-sm);
}